<!DOCTYPE html>
<html>

<head>
  <title>AnyShare</title>
  <script src="https://unpkg.com/vue"></script>

  <style type="text/css">
    .pseudoLink { 
      color:blue; 
      text-decoration:underline; 
      cursor:pointer; 
    }
  </style>
</head>

<body>
  <div id="navigation">
    <span v-on:click="onClick()" class="pseudoLink">
      {{ page_name }}
    </span>
    <p>
  </div>

  <div id="user_list" style="display: none">
    <table>
      <tr v-for="user in users">
        <td>
          <span v-on:click="user_onClick(user)" class="pseudoLink">
            {{ user.user_name }} ({{ user.phone_number}})
          </a>
        </td>
      </tr>
    </table>
  </div>

  <div id="item_list" style="display: none">
    <table>
      <tr v-for="item in items">
        <td>
          <span v-on:click="item_onClick(item)" class="pseudoLink">
            {{ item.name }}
          </span>
        </td>
      </tr>
    </table>
  </div>

  <div id="item_view" style="display: none">
    <div v-if="status.active == 'false'">
      <span>Current Status: Inactive</span><br>
      <span v-on:click="activate()" class="pseudoLink">Activate</span>
    </div>
    <div v-if="status.active == 'true'">
      <span>Current Status: Active - {{ status.user_name }}</span><br>
      <span v-on:click="deactivate()" class="pseudoLink">Deactivate</span>
    </div>
  </div>

  <script src="anyshare.js"></script>

</body>
