<!doctype html>
<html lang="en">

<head>
  <!-- The following 2 meta tags always come first -->
  <!-- Notify browsers this page is in Unicode -->
  <meta charset="utf-8">
  <!-- This site is responsive. Use full screen width. -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Anything Shared</title>

  <meta name="description" content="Anything Shared">
  <meta name="keywords" content="anything shared">  

  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
  <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

  <style type="text/css">
    .pseudoLink {
      color: blue;
      text-decoration: underline;
      cursor: pointer;
    }

    .elementToFadeOut {
        animation-name: fadeOut;
        animation-duration: 4s;
        opacity: 0;
    }

    @keyframes fadeOut {
      0% { opacity: 1; }
      100% { opacity: 0; }
    }
  </style>

  <script src="https://unpkg.com/vue"></script>
</head>

<body class="text-center">
  <div class="container grid-xs">
  
  <h3 style="margin-top: .7rem; margin-bottom: 0rem">Anything Shared</h3>

  <div id="navigation" style="display: none">
    <div v-if="app_state == 'USER_LIST'">
      <ul class="breadcrumb">
        <li class="breadcrumb-item">Home</li>
      </ul> 
    </div>
    <div v-else-if="app_state == 'ITEM_LIST'">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><span v-on:click="onClick('USER_LIST')" class="pseudoLink">Home</span></li>
        <li class="breadcrumb-item">Item List</li>
      </ul> 
    </div>
    <div v-else-if="app_state == 'ITEM_VIEW'">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><span v-on:click="onClick('USER_LIST')" class="pseudoLink">Home</span></li>
        <li class="breadcrumb-item"><span v-on:click="onClick('ITEM_LIST')" class="pseudoLink">Item List</span></li>
        <li class="breadcrumb-item">
          <span v-on:click="onClick('ITEM_VIEW')" class="pseudoLink">{{ global.currentItemName() }}</span>
        </li>
      </ul> 
    </div>
    <div v-else-if="app_state == 'RESERVATIONS'">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><span v-on:click="onClick('USER_LIST')" class="pseudoLink">Home</span></li>
        <li class="breadcrumb-item"><span v-on:click="onClick('ITEM_LIST')" class="pseudoLink">Item List</span></li>
        <li class="breadcrumb-item">
          <span v-on:click="onClick('ITEM_VIEW')" class="pseudoLink">{{ global.currentItemName() }}</span>
        </li>
        <li class="breadcrumb-item">Reservations</li>
      </ul> 
   </div>
   <div v-else-if="app_state == 'MANAGE_USERS'">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><span v-on:click="onClick('USER_LIST')" class="pseudoLink">Home</span></li>
        <li class="breadcrumb-item"><span v-on:click="onClick('ITEM_LIST')" class="pseudoLink">Item List</span></li>
        <li class="breadcrumb-item">
          <span v-on:click="onClick('ITEM_VIEW')" class="pseudoLink">{{ global.currentItemName() }}</span>
        </li>
        <li class="breadcrumb-item">Manage Users</li>
      </ul> 
   </div>
  </div>

  <div class="divider" style="margin-bottom: 14px"></div>

  <div id="user_list" style="display: none">
    <table class="table table-striped table-hover c-hand">
      <thead>
        <tr>
          <th>Mug Shot</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users" v-on:click="user_onClick(user)">
          <td>
            <img v-bind:src="'/media/' + user.phone_number + '.jpg'" style="width:80px; height:106px">
          </td>
          <td>
            <span class="pseudoLink">{{ user.user_name }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="item_list" style="display: none">
    <table class="table table-striped table-hover c-hand">
      <thead>
        <tr>
          <th>Item</th>
          <th>Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in items" v-on:click="item_onClick(item)">
          <td>
            <img v-bind:src="'/media/' + item.phone_number_owner + '-' + item.name + '.jpg'" 
                style="width:172px; height:100px">
          </td>
          <td>
            <span class="pseudoLink">{{ item.name }}</span>
          </td>
          <td>
            <button v-if="item.phone_number_owner == global.currentPhoneNumber()"
                v-on:click.stop="delete_onClick(item)" class="btn btn-primary">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <div id="item_delete_dialog" class="modal modal-sm">
      <div class="modal-container">
        <div class="modal-header">
          <div class="modal-title h5">Delete Confirmation</div>
        </div>
        <div class="modal-body">
          <div class="content">
            Deleting an item will <b>permanently</b> delete not only the item, but all reservations as well.
            Are you sure you want to continue?
          </div>
        </div>
        <div class="modal-footer">
          <button v-on:click="yes_onClick()" class="btn">Yes</button>
          <button v-on:click="no_onClick()" class="btn btn-primary">No</button>
        </div>
      </div>
    </div>

    <div class="divider" style="margin-top: 2.5rem; margin-bottom: 1.5rem" data-content="Create New Item"></div>
 
    <div class="input-group" style="justify-content: center">
      <input style="width: 150px" v-model="item_create_name" type="text" maxlength="25" placeholder="Item Name">
      <button v-on:click="create_onClick()" class="btn btn-primary">Create</button>
    </div>
  </div>

  <div id="item_view" style="display: none">
    <h4>{{ name }}</h4>
    <div v-if="status.active == 'false'" class="container">
      <div class="columns">
        <div class="col-4">
          <div style="line-height: 1.8rem">Current Status</div>
        </div>
        <div class="col-4">
          <div class="text-center text-success" style="line-height: 1.8rem">Available</div>
        </div>
        <div class="col-4">
          <button v-on:click="activate_onClick()" class="btn btn-primary">Activate</button>
        </div>
      </div>
    </div>
    <div v-if="status.active == 'true'" class="container">
      <div class="columns">
        <div class="col-4">
          <div style="line-height: 1.8rem">Current Status</div>
        </div>
        <div class="col-4">
          <div class="text-center text-error" style="line-height: 1.8rem">In Use - {{ status.user_name }}</div>
        </div>
        <div class="col-4">
          <button v-on:click="deactivate_onClick()" class="btn btn-primary" :disabled="!active_user">Deactivate</button>
        </div>
      </div>
    </div>
    
    <div class="divider" style="margin-top: 1.5rem; margin-bottom: 1.5rem" data-content="Reservations"></div>
 
    <div class="container">
      <div class="columns text-left">
        <div class="col-2"></div>
        <div class="col-4">Start Date</div>
        <div class="col-5">
          <input v-on:change="updateAvailability()" style="width: 155px" v-model="date" type="date" :min="today">
        </div>
      </div>
      <div class="columns text-left" style="margin-top: .4rem">
        <div class="col-2"></div>
        <div class="col-4">Number of Days</div>
        <div class="col-5">
          <input v-on:change="updateAvailability()" style="width: 40px" v-model="days" type="number" min="0">
        </div>
      </div>
      <div v-if="days > 0" style="margin-top: .4rem">
        <span v-if="available" class="text-success">{{ availabilityMessage }}</span>
        <span v-if="!available" class="text-error">{{ availabilityMessage }}</span>
      </div>
      <div style="margin-top: .6rem">
        <button v-on:click="reserve_onClick()" class="btn btn-primary" :disabled="!available">Reserve</button>
      </div>
      <div style="margin-top: 1rem">
        <span v-on:click="reservations_onClick()" class="pseudoLink">Existing Reservations</span>
      </div>
    </div>

    <div class="divider" style="margin-top: 1.5rem" data-content="Users"></div>
    <div style="margin-top: 1rem">
      <span v-on:click="manageUsers_onClick()" class="pseudoLink">Manage Users</span>
    </div>
  </div>

  <div id="reservations" style="display:none">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Date</th>
          <th>Mug Shot</th>
          <th>User</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="reservation in reservations">
          <td>{{ reservation.date }}</td>
          <td>
            <img v-bind:src="'/media/' + reservation.phone_number + '.jpg'" style="width:80px; height:106px">
          </td>
          <td>{{ reservation.user_name }}</td>
          <td>
            <button v-if="reservation.phone_number == global.currentPhoneNumber()"
                v-on:click="delete_onClick(reservation)" class="btn btn-primary">
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="manage_users" style="display:none">
    Find User to Add
    <div class="input-group" style="justify-content: center; margin-top: .4rem">
      <input style="width: 150px" v-model="search_phone_number" type="text" maxlength="25" placeholder="206-555-1212">
      <button v-on:click="search_onClick()" class="btn btn-primary">Search</button>
    </div>

    <table v-if="show_search_result" class="table">
      <thead>
        <tr>
          <th>Mug Shot</th>
          <th>User</th>
          <th>Phone Number</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <img v-bind:src="'/media/' + search_user.phone_number + '.jpg'" style="width:80px; height:106px">
          </td>
          <td>{{ search_user.user_name }}</td>
          <td>{{ search_user.phone_number }}</td>
          <td>
            <button v-on:click="add_onClick(search_user)" class="btn btn-primary">
              Add
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="divider" style="margin-top: 2.5rem" data-content="Existing Users"></div>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Mug Shot</th>
          <th>User</th>
          <th>Phone Number</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="user in users">
          <td>
            <img v-bind:src="'/media/' + user.phone_number + '.jpg'" style="width:80px; height:106px">
          </td>
          <td>{{ user.user_name }}</td>
          <td>{{ global.formatPhoneNumber(user.phone_number) }}</td>
          <td>
            <button v-if="user.phone_number == global.currentItemPhoneNumberOwner()" disabled=true class="btn">
              Owner
            </button>
            <button v-else v-on:click="remove_onClick(user)" class="btn btn-primary">
              Remove
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div id="info_dialog" class="modal modal-sm">
    <div class="modal-container">
      <div class="modal-header">
        <div class="modal-title h5">{{ title }}</div>
      </div>
      <div class="modal-body">
        <div class="content">
          {{ message }}
        </div>
      </div>
      <div class="modal-footer">
        <button v-on:click="okay_onClick()" class="btn btn-primary">Okay</button>
      </div>
    </div>
  </div>

  </div>

  <script src="../web/anyshare.js"></script>
</body>
